
#navbar {
  border: 1px;
  background-color: black;
}

#search {
  padding-right: 45px;
}

#searchbar {
  border: 1px;
  background-color: blue;
}

#display {
  border: 1px;
  background-color: red;
}

#listings {
  border: 1px;
  background-color: green;
}
